h1 {
    background-size: 800px;
    background-color: beige;
    color:#9c2121;
    font-family: 'Times New Roman', Times, serif;
    font-size: 500%;
    text-align: center;
}
 h2{
    color: hsl(0, 45%, 53%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 300%;
 }
 body{
    background-color: aliceblue;
 }
 h3{
    color: lab(15.6% 30.51 18.53);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:220%;
 }